GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=""

GOOGLE_SHEETS_ID=
CONFIG_SHEET='' # rango de la configuración
ARTICLES_SHEET='' # rango de las artículos
ORDER_SHEET='' # rango de las pedidos
TOTAL_MESAS=10 # Numero de mesas disponibles 