---
// src/pages/cocina.astro
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cocina - Pedidos">
  <div id="vista-cocina"></div>

  <script type="module" src="/src/scripts/cocina.js"></script>
</Layout>
