---
// src/pages/cocina.astro
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cocina - Pedidos">
  <div class="flex flex-col gap-4">
    <img src="/logo.png" alt="Logo cafetería" class="w-60" />
    <div class="bg-gray-200 flex justify-between">
      <h1 class="text-2xl font-bold m-4">Cocina - Pedidos</h1>
      <a href="/" class="text-2xl font-bold m-4 text-blue-700">Mesas</a>
    </div>
    <div class="mb-4">
      <label for="filtro-estado" class="mr-2 font-semibold"
        >Filtrar por estado:</label
      >
      <select id="filtro-estado" class="border p-1 rounded">
        <option value="nuevo" selected>NUEVO</option>
        <option value="REALIZADO">REALIZADO</option>
        <option value="TODOS">TODOS</option>
      </select>
    </div>
  </div>
  <div id="vista-cocina"></div>

  <script type="module" src="/scripts/cocina.js"></script>
</Layout>
