---
// src\pages\index.astro
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="text-2xl font-bold mb-4">Mesas</h1>

  <div id="app"></div>

  <script type="module">
    import "/src/scripts/pedidos.js";
  </script>
</Layout>
