---
import "./src/styles/global.css";
const { title = "Cafetería" } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title><meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    /><link rel="icon" href="/favicon.svg" /></head
  >

  <body class="p-4 font-sans bg-gray-50">
    <div class="flex flex-col gap-4">
      <img src="/logo.png" alt="Logo cafetería" class="w-60" />
      <div class="bg-gray-200">
        <h1 class="text-2xl font-bold mb-4">{title}</h1>
      </div>
    </div>
    <slot />
  </body>
</html>
